body {
    background-color: rgb(66, 66, 66);
}

main{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100vw;
    height: 100vh;
}


/* tabuleiro */

.tabuleiro{
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

table{
    width: 500px;
    height: 500px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

}

tr{
    width: 400px;
    height: 50px;

    display: flex;
    flex-direction: row;
}

td{
    width: 50px;
    height: 50px;

    display: flex;
    justify-content: center;
    align-items: center;

    z-index: 1000;
}

td.possivel{
    background-color: lightgreen; 
    cursor: pointer;
}

td.selecionada {
    background-color: lightblue;
}

.casaPreta {
    background-color: #3A405A ; /* Cor escura */
}

.casaBranca {
    background-color: #eee; /* Cor clara */
}


/* peças */

.peca {
    width: 40px;
    height: 40px;
    
    border-radius: 50%;
    box-shadow: inset 0 0 10px rgba(0, 0, 0, 0.2);
    box-sizing: border-box; 

    z-index: 0;
}

.peca.branca {
    background-color: #F5F5F7;
    /* background-image: radial-gradient(circle at 50% 40%, #FFFFFF, #E8E9EB 90%); */
    border: 1px solid #B0B8C4;
}

.peca.preta {
    background-color: #414A4C;
    /* background-image: radial-gradient(circle at 50% 40%, #636D6F, #303638 90%); */
    border: 1px solid #717C7E;
}

div.dama {
    border: 2px solid gold !important;
    background: center / 70% no-repeat 
    url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512"><path fill="%23FFD700" d="M64 384h384l-32-224-80 80-80-128-80 128-80-80-32 224z"/><rect x="64" y="384" width="384" height="32" fill="%23B8860B"/></svg>');
  
}

div.reiniciar-partida {
    background-color: white;
    height: 100px;
    width: 290px;
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 15px;
    z-index: 1001;
    
}