body {
    background-color: lightgray;
}

main{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100vw;
    height: 100vh;
}


/* tabuleiro */

.Tabuleiro{
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

table{
    width: 500px;
    height: 500px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

}

tr{
    width: 400px;
    height: 50px;

    display: flex;
    flex-direction: row;
}

td{
    width: 50px;
    height: 50px;

    display: flex;
    justify-content: center;
    align-items: center;

    z-index: 0;
}

/* Seleciona as linhas ÍMPARES e pinta as células PARES de escuro */
tr:nth-child(odd) td:nth-child(even) {
    background-color: #3A405A ; /* Cor escura */
}

/* Seleciona as linhas PARES e pinta as células ÍMPARES de escuro */
tr:nth-child(even) td:nth-child(odd) {
    background-color: #3A405A ; /* Cor escura */
}

/* As células restantes terão a cor de fundo padrão (ou podemos definir como branco/claro) */
tr:nth-child(odd) td:nth-child(odd) {
    background-color: #eee; /* Cor clara */
}

tr:nth-child(even) td:nth-child(even) {
    background-color: #eee; /* Cor clara */
}

/* peças */

.peca {
    width: 40px;
    height: 40px;
    
    border-radius: 50%;
    box-shadow: inset 0 0 10px rgba(0, 0, 0, 0.2);
    box-sizing: border-box; 

    z-index: 1;
}

.peca.branca {
    background-color: #F5F5F7;
    background-image: radial-gradient(circle at 50% 40%, #FFFFFF, #E8E9EB 90%);
    border: 1px solid #B0B8C4;
}

.peca.preta {
    background-color: #414A4C;
    background-image: radial-gradient(circle at 50% 40%, #636D6F, #303638 90%);
    border: 1px solid #717C7E;
}